@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

:root {
  --primary-one: #8C0681;
  --primary-two: #9C42A1;
  --light-color: white;
  --mid-color: #ECE1F0;
  --dark-color: black;
  --font-text: 'Open Sans', sans-serif;
  --font-display: 'Rosarivo', serif;
  --normal-text:  'Kanit', sans-serif;
  --font-size: 20px;
}
html {
    font-size: var(--font-size);
}
body {
  position: relative;
  background-color: var(--light-color);
}

* {box-sizing: border-box; padding: 0; margin: 0; font-family: var(--normal-text); font-weight: 300; color: var(--contrast-color)}

.page-color {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: var(--primary-one);
  z-index: -1;
}
