.email-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, calc(800px + 1rem)));
    grid-gap: 1rem;
    padding: 1rem 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.email-card {
    width: 100%;
    height: auto;
    background-color: var(--light-color);
    border-radius: 1rem;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.23);
}