@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Roboto:wght@300&display=swap');

:root {
    --font-size: 18px;
    --heading-text: 'Crimson Text', serif;
    --normal-text: 'Roboto', sans-serif;
    /* --foreground-color: #422c22;
    --background-color: #36241c;
    --lighter-color: #f0e5e1; */
    --foreground-color: #ffffff;
    --background-color: #f0f0f0;
    --lighter-color: #000000;
}
html {
    font-size: var(--font-size);
}

* {box-sizing: border-box; padding: 0; margin: 0; font-family: sans-serif}
.page-color {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: -1;
}
.page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-gap: 2rem;
  justify-content: center;
  padding: 2.5rem 10rem;
  background-color: transparent;
  z-index: 3;
}
.page {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 3px 12px rgba(0,0,0,0.16), 0 3px 12px rgba(0,0,0,0.23);
}
.order {
  padding: 1.8rem;
}
.order > * {
  margin-top: 2rem;
}
.order .image-container {
  width: 100%;
  padding-top: 150px;
  background-color: black;
  overflow: hidden;
  position: relative;
}
.order .image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  transition: 0.1s ease;
}
.order .image-container img:hover {
  width: 130%;
}
.order h1 {
  margin-top: 0;
  font-size: 2rem;
}
.order h2, .order p, .order button {
  font-size: 1.3rem;
}
.order #desc, .order .input {margin-top: 0.25rem}
.order p span, .order h2 span, .order label p span {float: right;}
.order button {
  width: 100%;
  padding: 1rem 2rem; 
  background-color: black;
  color: white;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.1s ease;
}
.order button:hover {opacity: 0.9;}
.order button:active {opacity: 0.8;}

/* .order h2 span input {
  padding: 0;
  text-align: right;
  border: 0;
  margin: 0;
  outline: 0;
  background-color: #e3e3e3;
  width: 100%;
} */

/* The container */
.order .input {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.order .input input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.order .input .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #eee;
  border-radius: 0.5rem
}
.order .input:hover input ~ .checkmark {background-color: #ccc;}
.order .input input:checked ~ .checkmark {background-color: #2196F3;}
.order .input .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.order .input input:checked ~ .checkmark:after {display: block;}
.order .input .checkmark:after {
  left: 0.6rem;
  top: 0.25rem;
  width: 0.25rem;
  height: 0.7rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}