* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--mid-color);
    margin: 0;
    padding: 0;
    
}
.hide {
    display: none;
}

.container {
    width: 100vw;
    /* width: 100vw;
    height: 100vh; */
    background-color: transparent;
    padding: 1rem;
    margin: 1rem auto;
    animation: fade 0.2s ease-in-out forwards;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
    .container {
        top: 100%;
    }
}

.container.active {
    animation: slide 0.2s 0.1s ease-in-out both;
}

.multi-step-container {
    overflow: hidden;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
@keyframes fade {
    0% {
        opacity: 1;
        /* transform: scale(1); */
    }
    100% {
        opacity: 0;
        /* transform: scale(19); */
    }
}